---
import { render, type InferEntrySchema, type RenderedContent } from "astro:content";

import MainLayout from "@layouts/MainLayout.astro";

import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: {
      lang: post.data.locale,
      // Remove the language from the slug
      slug: post.slug.split('/').slice(1).join('/')
    },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<MainLayout pageTitle={post.data.title}>
  <div
    class="prose prose-headings:font-bold prose-headings:m-0
    prose-h1:text-3xl prose-h1:mb-6 prose-h1:text-center
    prose-h2:text-2xl prose-h2:mb-1
    prose-h3:text-xl
    prose-p:mb-0 prose-p:mt-0 prose-p:text-left
    prose-ul:mt-0
    prose-li:my-0 prose-li:pl-0
    prose-hr:my-2
  prose-a:text-blue-600"
  >
    <Content />
  </div>
</MainLayout>
