@import "tailwindcss";
@plugin '@tailwindcss/typography';

html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  width: 100dvw;
  height: 100dvh;
  /* subtle light background */
  background: #f8fafc;
}