---
import Welcome from '@components/Welcome.astro';
import HomeLayout from '@layouts/HomeLayout.astro';
---

<HomeLayout>
	<div id="hero" class="border-2 border-blue-500">Astro</div>
	<div id="content" class="py-8 px-6 overflow-y-auto md:padding-x-12 border-2 border-amber-400"
	>
	Hola chau
	</div>
</HomeLayout>
