---
import { Image } from "astro:assets";
import logoImage from "@images/logo.png";

const { inHeader } = Astro.props;
---

<div
  class:list={[
    "flex flex-col align-center justify-center shadow-[inset_0_0_8px_2px_rgba(250,250,210,0.3)] border border-yellow-300/30 rounded-[50%_25%_50%_25%]",
    inHeader ? "size-12" : "size-40 sm:size-50",
    inHeader && "bg-linear-to-tr from-blue-950 to-sky-950"
  ]}
>
  <Image class:list={[inHeader ? "p-0.5" : "p-4"]} src={logoImage} alt="logo" />
</div>
