---
import { getRelativeLocaleUrl } from "astro:i18n";

import { getLangFromUrl, normalizePath } from "@i18n/utils";
const { pathname } = Astro.url;
const lang = getLangFromUrl(Astro.url);

const normalizedPathname = normalizePath(Astro.url, lang);

const isPortfolioActive = normalizedPathname.startsWith(`/portfolio`);
const isBlogActive = normalizedPathname.startsWith(`/blog`);
---

<nav class="text-white" transition:name="hero-to-nav">
  <ul class="flex flex-row gap-4">
    <li class:list={[isPortfolioActive && "border-b-4 border-blue-500"]}>
      <a href={getRelativeLocaleUrl(lang, "portfolio")}>Portfolio</a>
    </li>
    <li class:list={[isBlogActive && "border-b-4 border-blue-500"]}>
      <a href={getRelativeLocaleUrl(lang, "blog")}>Blog</a>
    </li>
  </ul>
</nav>
