---
import { ClientRouter } from "astro:transitions";
import "@styles/global.css";

interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;

const { lang } = Astro.params;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{`${pageTitle} | Daniel Esquinazi`}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- /Adds transitions between page navigations/ -->
    <ClientRouter />
  </head>
  <body>
    <slot />
  </body>
</html>
