---
import Navigation from "@components/Navigation.astro";
import BaseLayout from "./BaseLayout.astro";
import Logo from "@components/Logo.astro";
import Background from "@components/Background.astro";

interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
  <div class="h-full grid grid-rows-[auto_1fr] overflow-y-hidden">
    <header class="flex flex-col items-center p-2 relative">
      <Background />

      <div class="self-start flex flex-row items-center gap-2">
        <Logo inHeader={true} />
        <h1 class="text-white text-3xl">Daniel Esquinazi</h1>
      </div>

      <Navigation />
    </header>

    <main class="py-2 px-4 overflow-y-auto w-full md:w-2/3 max-w-200 mx-auto">
      <slot />
    </main>
  </div>
</BaseLayout>
